{{ define "main" }}

<article class="article-single">
  <header class="article-single-header">
    <div class="article-date">{{ .Date.Format "2 Jan 2006" }}</div>
    <h1>{{ .Title }}</h1>
    {{ with .Params.tags }}
    <div class="article-tags">
      {{ range . }}<span class="article-tag">{{ . }}</span>{{ end }}
    </div>
    {{ end }}
  </header>

  <div class="article-body">
    {{ .Content }}
  </div>

  <footer class="article-footer">
    <a href="{{ "para/" | relLangURL }}" class="link-arrow">{{ i18n "back" }}</a>
  </footer>
</article>

{{ end }}
